res/
data/

loaders/data_load/__pycache__/
utils/__pycache__/
model/__pycache__/
loaders/__pycache__/
trainer/__pycache__/

response.md
digits_acc.md

SHOT-master
view*
datasets/

readfile.py
uda_digit.py

run_digit.sh
domain126_acc.md
run_PL.sh